.lbm-markdown-output {
  margin-top: 60px;

  @include mq($from: tablet) {
    margin-top: 90px;
    max-width: 27em;
  }

  @include mq($from: desktop) {
    margin-top: 90px;
    max-width: 32em;
  }

  h1 {
    font-size: 42px;

    @include mq($from: tablet) {
      font-size: 60px;
    }
  }

  h2 {
    font-size: 32px;
    margin: 30px 0;

    @include mq($from: tablet) {
      font-size: 42px;
      margin: 45px 0;
    }
  }

  h3 {
    font-size: 25px;

    @include mq($from: tablet) {
      font-size: 32px;
    }
  }

  p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 0;
    margin-bottom: calc(var(--vertical-spacing) * (2/3));
    font-weight: 400;
    font-size: var(--small-screen-font-size);
    line-height: 1.3125;

    @include mq($from: tablet) {
      font-size: var(--bigger-screen-font-size);
      line-height: 1.45;
      margin-bottom: var(--vertical-spacing);
    }
  }

  a {
    @extend %lbm-link;
  }

  // list styles
  ul {
    @extend %lbm-list;
  }
  
  // bullet list specific styles
  ul {
    @extend %lbm-list--bullet;
  }

  img {
    max-width: 100%;
  } 
}
