$menu-right-offset: 3em;
$menu-right-offset-small: 1.5em;

.typography-header {
  position: relative;
}

.app-nav--landing__container {
  text-align: right;
  margin-top: calc((1.375 * 20px + 20px) * -1);

  label {
    display: inline-block; // stops the tiny gap below element
    position: relative;
    padding: 4px 7px 3px;
    margin-right: -$menu-right-offset-small;
    //border: 4px solid #999;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
  
    &:hover,
    &:focus {
      text-decoration: underline;
      cursor: pointer;
    }

    &:focus,
    &:active {
      @include lbm-focused-text;
    }
  }

  input[type=checkbox] {
    width: 0;
    height: 0;
    // takes checkbox out of flow
    // means nav element has height 0 when collapsed
    float: left;
    opacity: 0;

    &:focus + label {
      text-decoration: underline; 
    }
  }

  @include mq($from: 440px) {
    label {
      margin-right: -$menu-right-offset;
    }
  }

  @include mq($from: tablet) {
    margin-top: 0;

    input[type=checkbox],
    label {
      display: none;
    }

    label {
      margin-right: 0;
    }
  }
}

.app-nav--landing {
  @include mq($until: tablet) {
    display: none;
  }

  margin: 30px 0 0;
  padding: 0;
  list-style: none;

  @include mq($from: tablet) {
    position: absolute;
    margin: 0;
    right: -$menu-right-offset;
    top: 1em;
  }

  li {
    @include lbm-typography-common;
    padding: 15px 0;
    text-align: center;
    width: calc(100% + #{$menu-right-offset-small});

    @include mq($from: 440px) {
      width: calc(100% + #{$menu-right-offset});
    }

    @include mq($from: tablet) {
      margin-bottom: 30px;
      padding: 5px 15px 5px 0;
      border-right: 3px solid #999;
      text-align: right;
      width: unset;
    }

    a {
      color: $cdps-dark-grey;
      font-weight: bold;
      text-decoration: none;
    }

    &:hover {
      border-color: $cdps-dark-grey;
      
      a {
        text-decoration: underline;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.lang-cy {
  .app-nav--landing {
    top: unset;
    bottom: 0;
    right: 0;
  }
}

.app-nav--landing__toggle:checked {
  & + label {}
  & ~ .app-nav--landing {
    display: block;
  }
}

.lbm-title {
  margin-top: 30px;

  @include mq($from: tablet) {
    margin-top: 0;
  }
}
