$menu-right-offset: 3em;
$menu-right-offset-small: 1.5em;

.typography-header {
  //position: relative;
}

.app-top-bar {
  --top-bar-font-size: 32px;
  position: relative;
  padding: 30px 15px;

  .app-top-bar__title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: var(--top-bar-font-size);
    font-weight: bolder;
    line-height: 1;

    @include mq($until: 440px) {
      font-size: 25px;
    }
  }

  a {
    color: var(--text-colour);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @include mq($until: 440px) {
    --top-bar-font-size: 25px;
  }

  @include mq($from: tablet) {
    display: flex;
    padding: 30px;
  }
}

.app-nav--container {
  line-height: var(--top-bar-font-size);

  label {
    display: inline-block; // stops the tiny gap below element
    position: absolute;
    padding: 4px 7px 3px;
    font-weight: bold;
    font-size: 20px;
    line-height: var(--top-bar-font-size);
    top: 30px - 2px; // bar padding
    right: 15px;
  
    &:hover,
    &:focus {
      text-decoration: underline;
      cursor: pointer;
    }

    &:focus,
    &:active {
      @include lbm-focused-text;
    }
  }

  input[type=checkbox] {
    width: 0;
    height: 0;
    // takes checkbox out of flow
    // means nav element has height 0 when collapsed
    float: left;
    opacity: 0;

    &:focus + label {
      text-decoration: underline; 
    }
  }

  @include mq($from: 440px) {
    label {
      //margin-right: -$menu-right-offset;
    }
  }

  @include mq($from: tablet) {
    //position: relative;
    //margin-top: -32px; // same as height of title text
    flex-grow: 1;
    text-align: right;

    input[type=checkbox],
    label {
      display: none;
    }

    label {
      margin-right: 0;
      right: 30px;
    }
  }
}

.app-nav {
  @include mq($until: tablet) {
    display: none;
  }

  margin: 20px 0 0;
  padding: 0;
  list-style: none;

  @include mq($from: tablet) {
    display: inline-block;
    margin: 0;
  }

  li {
    @include lbm-typography-common;
    padding: 0;
    border-bottom: 1px solid grey;
    font-size: 20px;

    @include mq($from: tablet) {
      display: inline-block;
      width: unset;
      border-bottom: none;
    }

    a {
      display: block;
      padding: 15px 0;
      color: $cdps-dark-grey;
      font-weight: bold;
      text-align: center;
      text-decoration: none;

      @include mq($from: tablet) {
        display: inline-block;
        padding: 5px 15px 5px 15px;
      }
    }

    &:hover {
      border-color: $cdps-dark-grey;
      
      a {
        text-decoration: underline;
      }
    }

    &:last-child {
      @include mq($from: tablet) {
        margin-right: -15px;
      }
    }
  }
}

.app-nav__toggle:checked {
  & ~ .app-nav {
    display: block;
  }
}

// -----------------------------------------
// specific to landing page
// -----------------------------------------

.app-nav--landing__container {
  text-align: right;
  margin-top: calc((1.375 * 20px + 20px) * -1);

  label {
    display: inline-block; // stops the tiny gap below element
    position: relative;
    padding: 4px 7px 3px;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
  
    &:hover,
    &:focus {
      text-decoration: underline;
      cursor: pointer;
    }

    &:focus,
    &:active {
      @include lbm-focused-text;
    }
  }

  input[type=checkbox] {
    width: 0;
    height: 0;
    // takes checkbox out of flow
    // means nav element has height 0 when collapsed
    float: left;
    opacity: 0;

    &:focus + label {
      text-decoration: underline; 
    }
  }

  @include mq($from: tablet) {
    margin-top: 0;

    input[type=checkbox],
    label {
      display: none;
    }

    label {
      margin-right: 0;
    }
  }
}

.app-nav--landing {
  @include mq($until: tablet) {
    display: none;
  }

  margin: 30px 0 0;
  padding: 0;
  list-style: none;

  @include mq($from: tablet) {
    position: absolute;
    margin: 0;
    right: 0;
    top: 1em;
  }

  li {
    @include lbm-typography-common;
    padding: 15px 0;
    text-align: center;

    @include mq($from: tablet) {
      margin-bottom: 30px;
      padding: 5px 15px 5px 0;
      border-right: 3px solid #999;
      text-align: right;
    }

    a {
      color: $cdps-dark-grey;
      font-weight: bold;
      text-decoration: none;
    }

    &:hover {
      border-color: $cdps-dark-grey;
      
      a {
        text-decoration: underline;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.app-nav--landing {
  // lang button 50 + top padding 45 + buffer 25
  --top-buffer: calc(50px + var(--page-padding-large) + 25px);
  top: var(--top-buffer);
  right: var(--page-padding-large);

  @include mq($from: desktop) {
    right: -(15vw);
  }

  @include mq($from: wide) {
    right: -(20vw);
  }
}

.lang-en {
  .app-nav--landing {
    @include mq($from: desktop) {
      top: 140px;
    }
  
    @include mq($from: wide) {
      top: 165px;
    }
  }
}

.lang-cy {
  .app-nav--landing {
    --heading-height: clamp(60px, var(--base-font-size) + (10vw * var(--scaler)), 240px);
    top: calc(var(--heading-height) * 2 + var(--top-buffer));
  }
}

.app-nav--landing__toggle:checked {
  & ~ .app-nav--landing {
    display: block;
  }
}

.lbm-title {
  margin-top: 30px;

  @include mq($from: tablet) {
    margin-top: 0;
  }
}
