<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ include.title | default: site.t[page.lang].title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.redirect %}
  <meta http-equiv="refresh" content="0;URL='{{ page.redirect }}'" /> 
  {% endif %}

  <!-- favicon tags -->
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/assets/images/favicons/lbm_favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/assets/images/favicons/180x180.png">

  <!-- Google font tags -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700&family=Work+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">

  <!-- stylesheets -->
  <link rel="stylesheet" media="all" href="{{site.baseurl}}/assets/css/app.css" />
  <link rel="stylesheet" media="all" href="{{site.baseurl}}/assets/css/lbm-site.css" />
</head>
