:root {
  --text-colour: #0a0908;
  --link-colour: #3d80a4;
  --link-hover-colour: #6aa7c8;
  --focus-colour: #fbb84b;
  --focus-text-colour: var(--text-colour);
}

:root {
  --small-screen-font-size: 20px;
  --bigger-screen-font-size: 25px;
  --vertical-spacing: 45px;
}

.lbm-container {
  margin: 0 auto;
  max-width: 32em;
}

.lbm-markdown-output a, .lbm-footer a, .lbm-link {
  --link-hover-underline-colour: var(--link-hover-colour);
  --link-active-colour: var(--link-hover-colour);
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: 0.1em;
}
.lbm-markdown-output a:link, .lbm-footer a:link, .lbm-link:link {
  color: var(--link-colour);
}
.lbm-markdown-output a:visited, .lbm-footer a:visited, .lbm-link:visited {
  color: var(--link-colour);
}
.lbm-markdown-output a:hover, .lbm-footer a:hover, .lbm-link:hover {
  color: var(--link-hover-colour);
  text-decoration-color: var(--link-hover-underline-colour);
  text-decoration-thickness: max(3px, .1875rem, .12em);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
}
.lbm-markdown-output a:active, .lbm-footer a:active, .lbm-link:active {
  color: var(--link-active-colour);
}
.lbm-markdown-output a:focus, .lbm-footer a:focus, .lbm-link:focus {
  color: var(--focus-text-colour);
  background-color: var(--focus-colour);
  box-shadow: 0 -2px var(--focus-colour), 0 4px var(--focus-text-colour);
  text-decoration: none;
  color: var(--focus-text-colour);
}

.lbm-markdown-output ul, .lbm-markdown-output ol, .lbm-list {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: var(--small-screen-font-size);
  line-height: 1.3125;
  margin-top: 0;
  margin-bottom: calc(var(--vertical-spacing) * 0.6666666667);
  padding-left: 0;
  list-style-type: none;
}
@media (min-width: 46.25em) {
  .lbm-markdown-output ul, .lbm-markdown-output ol, .lbm-list {
    font-size: var(--bigger-screen-font-size);
    line-height: 1.45;
    margin-bottom: var(--vertical-spacing);
  }
}
.lbm-markdown-output ul ul, .lbm-markdown-output ol ul, .lbm-markdown-output ul ol, .lbm-markdown-output ol ol, .lbm-list .lbm-markdown-output ul, .lbm-markdown-output .lbm-list ul, .lbm-list .lbm-markdown-output ol, .lbm-markdown-output .lbm-list ol, .lbm-markdown-output ul .lbm-list, .lbm-markdown-output ol .lbm-list, .lbm-list .lbm-list {
  margin-top: 10px;
  margin-bottom: 10px;
}
.lbm-markdown-output ul > li, .lbm-markdown-output ol > li, .lbm-list > li {
  margin-bottom: 8px;
}
@media (min-width: 46.25em) {
  .lbm-markdown-output ul > li, .lbm-markdown-output ol > li, .lbm-list > li {
    margin-bottom: 5px;
  }
}

.lbm-markdown-output ul, .lbm-list--bullet {
  padding-left: 20px;
  list-style-type: disc;
}

.lbm-markdown-output ol, .lbm-list--number {
  padding-left: 20px;
  list-style-type: decimal;
}

:root {
  --page-padding-small: 20px;
  --page-padding-large: 45px;
  --x-small-font-size: 16px;
  --secondary-text-colour: #696662;
  --vertical-spacing--small: 20px;
}

.lbm-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

.lbm-visually-hidden-focusable {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}
.lbm-visually-hidden-focusable:active, .lbm-visually-hidden-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: inherit;
  overflow: visible;
  clip: auto;
  -webkit-clip-path: none;
          clip-path: none;
  white-space: inherit;
}

.main {
  padding: var(--page-padding-small);
  font-size: var(--small-screen-font-size);
}

@media (min-width: 46.25em) {
  .main {
    padding: var(--page-padding-large);
    font-size: var(--bigger-screen-font-size);
  }
}
.main--home {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
@media (min-width: 46.25em) {
  .main--home {
    position: relative;
  }
}
@media (min-width: 61.25em) {
  .main--home {
    width: 32em;
  }
}

.main--home .language-switcher {
  /* needs this because it is behind the line height of big heading */
  position: relative;
  margin-left: clamp(6px, 1vw, 24px);
  z-index: 1;
}

.lbm-footer p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 0;
  margin-bottom: calc(var(--vertical-spacing) * 0.6666666667);
  font-weight: 400;
  font-size: var(--small-screen-font-size);
  line-height: 1.3125;
}
@media (min-width: 46.25em) {
  .lbm-footer p {
    font-size: var(--bigger-screen-font-size);
    line-height: 1.45;
    margin-bottom: var(--vertical-spacing);
  }
}

.app-phonetic {
  --phonetic-colour: #e33b43;
  padding: 0 var(--base-font-size);
  color: var(--phonetic-colour);
  font-style: italic;
}

.app-multi-image {
  --gap-size: 3.75px;
  --extra-size: 0;
  display: flex;
  width: calc(100% + var(--extra-size));
  margin-right: 0;
  margin-bottom: var(--vertical-spacing);
  margin-left: calc(var(--extra-size) / 2 * -1);
  flex-wrap: wrap;
  row-gap: calc(var(--gap-size) * 2);
}
.app-multi-image img {
  box-sizing: border-box;
  width: 50%;
  aspect-ratio: 4/3;
}
.app-multi-image img:nth-child(odd) {
  padding-right: var(--gap-size);
}
.app-multi-image img:nth-child(even) {
  padding-left: var(--gap-size);
}
@media (min-width: 46.25em) {
  .app-multi-image {
    --gap-size: 7.5px;
    --extra-size: 20%;
  }
}
.app-multi-image .app-multi-image__caption {
  padding: 0 15px;
  font-size: var(--x-small-font-size);
  color: var(--secondary-text-colour);
}
@media (min-width: 46.25em) {
  .app-multi-image .app-multi-image__caption {
    padding: 0 30px;
    font-size: var(--small-screen-font-size);
  }
}

.lbm-footer {
  padding: 30px 15px;
  border-top: 1px solid #323232;
}
@media (min-width: 46.25em) {
  .lbm-footer {
    padding: 30px;
  }
}
.lbm-footer p {
  --small-screen-font-size: 16px;
  --bigger-screen-font-size: 20px;
  margin-bottom: 0;
}
.lbm-footer a {
  --link-colour: var(--text-colour);
  --link-hover-colour: var(--text-colour);
}

.app-language-switcher {
  display: inline-block;
  background: 0 0;
  border: 2px solid #999;
  color: #323232;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
}

.lbm-markdown-output {
  margin-top: 60px;
}
@media (min-width: 46.25em) {
  .lbm-markdown-output {
    margin-top: 90px;
    max-width: 27em;
  }
}
@media (min-width: 61.25em) {
  .lbm-markdown-output {
    margin-top: 90px;
    max-width: 32em;
  }
}
.lbm-markdown-output h1 {
  font-size: 42px;
}
@media (min-width: 46.25em) {
  .lbm-markdown-output h1 {
    font-size: 60px;
  }
}
.lbm-markdown-output h2 {
  font-size: 32px;
  margin: 30px 0;
}
@media (min-width: 46.25em) {
  .lbm-markdown-output h2 {
    font-size: 42px;
    margin: 45px 0;
  }
}
.lbm-markdown-output h3 {
  font-size: 25px;
}
@media (min-width: 46.25em) {
  .lbm-markdown-output h3 {
    font-size: 32px;
  }
}
.lbm-markdown-output p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 0;
  margin-bottom: calc(var(--vertical-spacing) * 0.6666666667);
  font-weight: 400;
  font-size: var(--small-screen-font-size);
  line-height: 1.3125;
}
@media (min-width: 46.25em) {
  .lbm-markdown-output p {
    font-size: var(--bigger-screen-font-size);
    line-height: 1.45;
    margin-bottom: var(--vertical-spacing);
  }
}
.lbm-markdown-output .app-list--plain {
  padding-left: 0;
  list-style-type: none;
}
.lbm-markdown-output img {
  max-width: 100%;
}

.lbm-post__header {
  margin: var(--vertical-spacing--small) 0;
}
@media (min-width: 46.25em) {
  .lbm-post__header {
    margin: var(--vertical-spacing) 0;
  }
}
.lbm-post__header .lbm-post__title {
  margin: 0;
}
.lbm-post__header .lbm-post__meta {
  margin-top: 5px;
  color: var(--secondary-text-colour);
  font-size: var(--base-font-size);
}
@media (min-width: 46.25em) {
  .lbm-post__header .lbm-post__meta {
    font-size: var(--small-screen-font-size);
  }
}

.app-top-bar {
  --top-bar-font-size: 32px;
  position: relative;
  padding: 30px 15px;
}
.app-top-bar .app-top-bar__title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--top-bar-font-size);
  font-weight: bolder;
  line-height: 1;
}
@media (max-width: 27.5em) {
  .app-top-bar .app-top-bar__title {
    font-size: 25px;
  }
}
.app-top-bar a {
  color: var(--text-colour);
  text-decoration: none;
}
.app-top-bar a:hover {
  text-decoration: underline;
}
@media (max-width: 27.5em) {
  .app-top-bar {
    --top-bar-font-size: 25px;
  }
}
@media (min-width: 46.25em) {
  .app-top-bar {
    display: flex;
    padding: 30px;
  }
}

.app-nav--container {
  line-height: var(--top-bar-font-size);
}
.app-nav--container label {
  display: inline-block;
  position: absolute;
  padding: 4px 7px 3px;
  font-weight: bold;
  font-size: 20px;
  line-height: var(--top-bar-font-size);
  top: 28px;
  right: 15px;
}
.app-nav--container label:hover, .app-nav--container label:focus {
  text-decoration: underline;
  cursor: pointer;
}
.app-nav--container label:focus, .app-nav--container label:active {
  color: var(--focus-text-colour);
  background-color: var(--focus-colour);
  box-shadow: 0 -2px var(--focus-colour), 0 4px var(--focus-text-colour);
  text-decoration: none;
}
.app-nav--container input[type=checkbox] {
  width: 0;
  height: 0;
  float: left;
  opacity: 0;
}
.app-nav--container input[type=checkbox]:focus + label {
  text-decoration: underline;
}
@media (min-width: 46.25em) {
  .app-nav--container {
    flex-grow: 1;
    text-align: right;
  }
  .app-nav--container input[type=checkbox],
  .app-nav--container label {
    display: none;
  }
  .app-nav--container label {
    margin-right: 0;
    right: 30px;
  }
}

.app-nav {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 46.24em) {
  .app-nav {
    display: none;
  }
}
@media (min-width: 46.25em) {
  .app-nav {
    display: inline-block;
    margin: 0;
  }
}
.app-nav li {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  border-bottom: 1px solid grey;
  font-size: 20px;
}
@media (min-width: 46.25em) {
  .app-nav li {
    display: inline-block;
    width: unset;
    border-bottom: none;
  }
}
.app-nav li a {
  display: block;
  padding: 15px 0;
  color: #323232;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
@media (min-width: 46.25em) {
  .app-nav li a {
    display: inline-block;
    padding: 5px 15px 5px 15px;
  }
}
.app-nav li:hover {
  border-color: #323232;
}
.app-nav li:hover a {
  text-decoration: underline;
}
@media (min-width: 46.25em) {
  .app-nav li:last-child {
    margin-right: -15px;
  }
}

.app-nav__toggle:checked ~ .app-nav {
  display: block;
}

.app-nav--landing__container {
  text-align: right;
  margin-top: -47.5px;
}
.app-nav--landing__container label {
  display: inline-block;
  position: relative;
  padding: 4px 7px 3px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}
.app-nav--landing__container label:hover, .app-nav--landing__container label:focus {
  text-decoration: underline;
  cursor: pointer;
}
.app-nav--landing__container label:focus, .app-nav--landing__container label:active {
  color: var(--focus-text-colour);
  background-color: var(--focus-colour);
  box-shadow: 0 -2px var(--focus-colour), 0 4px var(--focus-text-colour);
  text-decoration: none;
}
.app-nav--landing__container input[type=checkbox] {
  width: 0;
  height: 0;
  float: left;
  opacity: 0;
}
.app-nav--landing__container input[type=checkbox]:focus + label {
  text-decoration: underline;
}
@media (min-width: 46.25em) {
  .app-nav--landing__container {
    margin-top: 0;
  }
  .app-nav--landing__container input[type=checkbox],
  .app-nav--landing__container label {
    display: none;
  }
  .app-nav--landing__container label {
    margin-right: 0;
  }
}

.app-nav--landing {
  margin: 30px 0 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 46.24em) {
  .app-nav--landing {
    display: none;
  }
}
@media (min-width: 46.25em) {
  .app-nav--landing {
    position: absolute;
    margin: 0;
    right: 0;
    top: 1em;
  }
}
.app-nav--landing li {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 15px 0;
  text-align: center;
}
@media (min-width: 46.25em) {
  .app-nav--landing li {
    margin-bottom: 30px;
    padding: 5px 15px 5px 0;
    border-right: 3px solid #999;
    text-align: right;
  }
}
.app-nav--landing li a {
  color: #323232;
  font-weight: bold;
  text-decoration: none;
}
.app-nav--landing li:hover {
  border-color: #323232;
}
.app-nav--landing li:hover a {
  text-decoration: underline;
}
.app-nav--landing li:last-child {
  margin-bottom: 0;
}

.app-nav--landing {
  --top-buffer: calc(50px + var(--page-padding-large) + 25px);
  top: var(--top-buffer);
  right: var(--page-padding-large);
}
@media (min-width: 61.25em) {
  .app-nav--landing {
    right: -15vw;
  }
}
@media (min-width: 81.25em) {
  .app-nav--landing {
    right: -20vw;
  }
}

@media (min-width: 61.25em) {
  .lang-en .app-nav--landing {
    top: 140px;
  }
}
@media (min-width: 81.25em) {
  .lang-en .app-nav--landing {
    top: 165px;
  }
}

.lang-cy .app-nav--landing {
  --heading-height: clamp(60px, var(--base-font-size) + (10vw * var(--scaler)), 240px);
  top: calc(var(--heading-height) * 1.25 + var(--top-buffer));
}

.app-nav--landing__toggle:checked ~ .app-nav--landing {
  display: block;
}

.lbm-title {
  margin-top: 30px;
}
@media (min-width: 46.25em) {
  .lbm-title {
    margin-top: 0;
  }
}

.lbm-team {
  border-top: 2px solid var(--border-colour);
}
.lbm-team .lbm-team__list {
  padding-left: 0;
  list-style: none;
}
.lbm-team .lbm-team__member {
  --bottom-margin: var(--page-padding-small);
  margin-bottom: calc(var(--bottom-margin) * 2);
}
@media (min-width: 46.25em) {
  .lbm-team .lbm-team__member {
    --bottom-margin: var(--page-padding-large);
  }
}
.lbm-team .lbm-team__member-links ul {
  padding-left: 0;
  list-style: none;
}

.lbm-team__member-head {
  display: flex;
  align-items: center;
}

.lbm-team__member-name {
  margin: 0;
}

.lbm-team__img {
  --image-size: calc(var(--page-padding-large) * 2);
  width: var(--image-size);
  height: var(--image-size);
  margin-right: var(--page-padding-small);
  border-radius: 50%;
}

.lbm-team__member-links__title {
  margin-top: 1em;
  margin-bottom: 1em;
}

:root {
  --accent-colour: #e33b43;
  --border-colour: var(--secondary-text-colour);
}

.lbm-title span,
.app-top-bar__title span {
  color: var(--accent-colour);
}

.lbm-container:first-of-type {
  margin-top: 60px;
}
@media (min-width: 46.25em) {
  .lbm-container:first-of-type {
    margin-top: 90px;
  }
}
.lbm-container + .lbm-container {
  margin-top: 30px;
}

.app-session-list {
  margin-bottom: var(--vertical-spacing) !important;
}
