<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Learn by making Wales</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" media="all" href="{{site.baseurl}}/assets/css/app.css" />
</head>

<body class="lang-{{page.lang}}">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  <h1 class="lbm-title">Learn by making .Wales</h1>
</body>
</html>