<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Learn by making Wales</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700&family=Work+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" media="all" href="{{site.baseurl}}/assets/css/app.css" />
</head>

<body class="lang-{{page.lang}}">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  <main class="main">
  
    {% assign pages=site.pages | where:"ref", page.ref | group_by: 'lang' %}
    {% for altpage in pages %}
      {% if page.lang != altpage.name %}
        <!-- {{ altpage.items[0] }} -->
      {% endif %}  
    {% endfor %}

    <div class="typography-header">
      <h1 class="lbm-title">{{site.t[page.lang].title}}</h1>
    </div>

  </main>

</body>
</html>