{% include pageStart.html %}

<main class="main main--home">

  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for altpage in pages %}
    {% if page.lang != altpage.lang %}
    <a class="language-switcher app-language-switcher" href="{{ altpage.url }}">
      <span class="lbm-visually-hidden">View in </span>
      {{site.t[altpage.lang].language}}
    </a>
    {% endif %}
  {% endfor %}

  {% assign pages=site.pages | where:"ref", page.ref | group_by: 'lang' %}
  {% for altpage in pages %}
    {% if page.lang != altpage.name %}
      <!-- {{ altpage.items[0] }} -->
    {% endif %}  
  {% endfor %}

  <div class="typography-header">
    {% include nav--landing.html %}
    <h1 class="lbm-title">{{site.t[page.lang].title}}<span>.</span></h1>
  </div>

  <div class="lbm-markdown-output">
    {{ content }}
  </div>

</main>

{% include pageEnd.html %}
