{% assign title=page.title | append: " | " | append: site.t[page.lang].title  %}
{% include pageStart.html title=title %}

{% include topbar.html %}

<main class="main">

  <div class="lbm-container">
    {% include language-toggle.html pages=site.posts %}
  </div>

  <article class="lbm-container lbm-markdown-output">
    <header class="lbm-post__header">
      <h1 class="lbm-post__title">{{page.title}}</h1>
      {% if page.author %}
      <div class="lbm-post__meta">
        {{ site.t[page.lang].by | capitalize }} 
        {% for a in page.author -%}
        {% assign second_last = forloop.length | minus: 1 %}
        <span class="post-author"><a href="{{ a.url }}">{{ a.name }}</a></span>{% unless forloop.last %}{% if forloop.index == second_last %} and{% else %},{% endif %} {% endunless -%}
        {% endfor %}
      </div><!-- .post-meta -->
      {% endif %}
    </header>
    <div>
      {{ content }}
    </div>
  </article>

</main>

{% include pageEnd.html %}
