{% assign title=page.title | append: " | " | append: site.t[page.lang].title  %}
{% include pageStart.html title=title %}

{% include topbar.html %}

<main class="main">

  <div class="lbm-container">
    {% assign pages=site.posts | where:"ref", page.ref | sort: 'lang' %}
    {% for altpage in pages %}
      {% if page.lang != altpage.lang %}
      <a class="language-switcher app-language-switcher" href="{{ altpage.url }}">
        <span class="lbm-visually-hidden">View in </span>
        {{site.t[altpage.lang].language}}
      </a>
      {% endif %}
    {% endfor %}
  </div>

  <div class="lbm-container lbm-markdown-output">
    {{ content }}
  </div>

</main>

{% include pageEnd.html %}
